#form-container{
    margin: 0 auto;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 45%;
    padding: 5%;
}
#title{
    font-size: 2.5rem;
}

#create-user{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 300px;
}

#form-group{
    display: flex;
    flex-direction: column;
}

#form-group label{
    margin-bottom: 5px;
}

#form-group input,
#form-group textarea{
    padding: 10px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

#form-group textarea{
    resize: vertical;
}

button{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: darkred;
}
