body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#Nav-Bar {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}

#Nav-Bar img{
    width: 100%;
    max-width: 100px;
}

#Nav-Bar nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 0.2fr));
    justify-content: right;
    gap: 10px;
}

#Nav-Bar a{
    text-align: right;
    text-decoration: none;
    color: red;
    font-size: 1.50rem;
}

hr{
    margin-top: 1%;
}

#image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4%;
}

#image-container {
    text-align: center;
    margin: 0 80px;
}

#image-container img {
    width: 100%;
    max-width: 200px;
    height: auto; 
    display: block;
    margin: 0 auto;
    border-radius: 5%;
}
#title {
    margin-top: 10px;
    font-size: 18px; 
    color: #f39c12; 
    font-weight: bold; 
}

#description {
    margin-top: 10px;
    font-size: 16px; 
    color: #333; 
}
#button{
    display: inline-block; 
    margin-top: 10px; 
    padding: 10px 20px; 
    font-size: 16px; 
    color: #fff; 
    background-color: #f92f04;
    text-decoration: none;
    border-radius: 5px; 
    transition: background-color 0.3s;
}
footer{
    width: 100%;
    text-align: center;
    background-color: #f39c12;
}
footer a, p{
    text-decoration: none;
    color: white;
}