<head>
    <script src="../loadHtml.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="../Css/contacto.css">
</head>
<body>
    <div id="header-container"></div>
    <script>
        loadHtml('header-container', './navBar.html')
        loadHtml('footer-container', './footer.html')
    </script>
    <div id="contacto">
        <h1>Contáctanos!</h1>
    </div>
    <div id="form-container">
        <form id='form' onsubmit="">
            <div id="form-group">
                <label for="nombres">Nombres</label>
                <input id="nombres" type="text">
            </div>
            <div id="form-group">
                <label for="apellidos">Apellidos</label>
                <input id='apellidos' type="text">
            </div>
            <div id="form-group">
                <label for="correo">Correo</label>
                <input id='correo' type="email">
            </div>
            <div id="form-group">
                <label for="">Mensaje</label>
                <textarea name="" id="mensaje"></textarea>
            </div>
            <button type="submit">Enviar</button>
        </form>
        <div class="imagen-container">
            <img src="../images/Sabor Express.jpg" alt="">
        </div>
    </div>
    
    <div id="footer-container"></div>
</body>