<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/index.css">
    <link rel="icon" type="images" href="/Frontend/images/Sabor_Express.jpeg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <script src="../loadHtml.js"></script>
    <title>Sabor Express</title>
</head>

<body>
    <div id="header-container"></div>
    <script>
        loadHtml('header-container', './navBar.html');
        loadHtml('footer-container', './footer.html');
    </script>
    <div id="image-section">
        <div id="image-container">
            <img src="../images/Combo Familiar.jpg" alt="Combo Familiar">
            <h3 id="title">Combo Familiar</h3>
            <p id="description">Alimenta a toda la familia con nuestro combo especial
                que incluye hamburguesas, papas fritas y gaseosa para todos.
                ¡Una oferta que no puedes dejar pasar!</p>
            <button id="button" type="submit">Ver mas</button>
        </div>
        <div id="image-container">
            <img src="../images/Combo triple.jpg" alt="Mega Combo">
            <h3 id="title">¡Mega Combo!</h3>
            <p id="description">¡Sorpréndete con nuestro Mega Combo!
                Por un precio irresistible, obtén 3 hamburguesas de tu elección,
                3 órdenes grandes de papas fritas, 3 refrescos grandes, y como cortesía,
                una ración de aros de cebolla y un postre sorpresa.
                ¡La combinación perfecta para compartir y disfrutar al
                máximo con tus amigos o familiares!</p>
            <button id="button" type="submit">Ver mas</button>
        </div>
        <div id="image-container">
            <img src="../images/2x1.jpg" alt="2x1 en Hamburguesas los Martes">
            <h3 id="title">2x1 en Hamburguesas los Martes</h3>
            <p id="description">Disfruta de nuestras hamburguesas al doble de sabor
                por el mismo precio. Solo los martes, ¡no te lo pierdas!</p>
            <button id="button" type="submit">Ver mas</button>
        </div>
    </div>

</body>
    <div id="footer-container"></div>
</html>