.Nav-Bar {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}

.logo{
    width: 50%;
    max-width: 100px;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 0.2fr));
    justify-content: right;
    gap: 10px;
}

.elements{
    text-align: right;
    text-decoration: none;
    color: red;
    font-size: 1.50rem;
}

.separator{
    margin-bottom: 2%;
}