<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="../Css/pide-en-linea.css">
    <script src="../loadHtml.js"></script>
    <title>Sabor Express</title>
</head>

<body>
    <div id="header-container"></div>
    <script>
        loadHtml('header-container', './navBar.html');
        loadHtml('footer-container', './footer.html');
    </script>
    <div id="productos">
        <div class="producto">
            <img src="../images/HAMBURGUESA.jpg" alt="Hamburguesa">
            <h2>Hamburguesas</h2>
        </div>

        <div class="producto">
            <img src="../images/Sándwiches.jpg" alt="Sándwiches">
            <h2>Sándwiches</h2>
        </div>

        <div class="producto">
            <img src="../images/pollo.jpg" alt="Pollo">
            <h2>Pollo</h2>
        </div>

        <div class="producto">
            <img src="../images/Bebidasgaseosas.jpg" alt="Bebidas">
            <h2>Bebidas</h2>
        </div>

        <div class="producto">
            <img src="../images/tacos-al-pastor-receta.jpg" alt="Tacos">
            <h2>Tacos</h2>
        </div>

        <div class="producto">
            <img src="../images/un-plato-de-patatas-fritas-recien-hechas.jpg" alt="Papas fritas">
            <h2>Papas fritas</h2>
        </div>

    </div>
    <h1>Nuestros productos!</h1>
    <div id="producto-escogido">
        
    </div>
    <div id="footer-container"></div>
</body>
</html>