<head>
    <script src="../loadHtml.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="../Css/registerUser.css">
    </linkstylesheet>
</head>

<body>
    <div id="header-container"></div>
    <div id="form-container">
        <h2 id="title">Registrar Usuario</h2>
        <form id='create-user'>
            <div id="form-group">
                <label for="nombres">Nombre del Usuario</label>
                <input id="nombres" type="text" name="nombreUsuario" required>
            </div>
            <div id="form-group">
                <label for="apellidos">Apellido del Usuario</label>
                <input id="apellidos" type="text" name="apellidoUsuario" required>
            </div>
            <div id="form-group">
                <label for="correo">Correo Electronico</label>
                <input id='correo' type="email" name="correo" required>
            </div>
            <div id="form-group">
                <label for="password">Contraseña</label>
                <input id="password" type="password" name="contrasena" required>
            </div>
            <div id="form-group">
                <label for="telefono">Telefono</label>
                <input id="telefono" type="text" name="telefono" required>
            </div>
            <div id="form-group">
                <label for="direccion">Direccion</label>
                <input id="direccion" type="text" name="direccion" required>
            </div>
            <button>Enviar</button>
        </form>
    </div>
    <script>
        loadHtml('header-container', './navBar.html');
        loadHtml('footer-container', './footer.html');
    </script>
    <script src="../script.js"></script>
</body>
<footer>
    <div id="footer-container"></div>
</footer>